header.dashboard-header {
    background-color: #10697d !important;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #000 !important;
}

header.dashboard-header nav #header {
    background-size: 50px 40px !important;
    background-image: url("https://www.anzarenewables.com/wp-content/uploads/2024/02/Anza-Icon.png") !important;

}

#user-actions {
    background-color: #10697d !important;
}

#header > span {
    color: white !important;
}