header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #00519e !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://www.anzarenewables.com/wp-content/uploads/2024/02/ANZA_logo.png") !important;
}